@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
body{
  margin: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 70px;
}
h2,p{
  margin:0;
}
.logo{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 25px;
  width: 145px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #28274c;
}
.nav{
  display: flex;
}
.nav li{
  margin: 0 10px;
  cursor: pointer;
}
.nav li a{
  color: #8c8c8c;
  text-decoration: none;
}

footer{
  background: black;
  display: flex;
  color: white;
  font-family: NanumSquareEB;
}
.developer{
  width: 300px;
  padding: 20px;
}
.developer h2{
  margin: 0;
  font-size: 20px;
  margin-bottom: 15px;
}
.developer ul li{
  display: inline-block;
  margin-right: 30px;
}
main{

}



.graph-main{
  display: flex;
  justify-content: center;
}
.graph{
  background: #f2f2f2;
  width: 800px;
  margin-left: 20px;
}
.ranking-wrapper{
  width: 200px;
  height: 300px;
  background: #f2f2f2;
  background: #28274c;
  color: white;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
}
.ranking-wrapper h2{
  font-size: 18px;
  margin-bottom: 10px;
}
.ranking{
  width: 200px;
  height: calc( 100% - 32px );
  border-radius: 5px;
  overflow: scroll;
}
.ranking::-webkit-scrollbar{
  width: 0 !important;
}
.ranking li{
  padding: 10px 0; 
  cursor: pointer;
}
.ranking li:hover{
  background: #212044;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.modal{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question{
  background: white;
  padding: 16px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.question-m{
  padding: 10px;
  width: 500px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #f2f2f2;
  outline: none;
  resize: none;
  height: 150px;
}
.question h2{
  color: #28274c;
}
.question input{
  padding: 10px;
  width: 500px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #f2f2f2;
  outline: none;
}
.question button{
  background: #28274c;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  border: none;
  color: white;
  width: 520px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login{
  background: white;
  padding: 60px 16px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login h2{
  color:#28274c;
}
.login input{
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  margin-top: 10px;
  border: 1px solid #f2f2f2;
  outline: none;
}
.login button{
  background: #28274c;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  border: none;
  color: white;
  width: 320px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox{
  display: flex;
  width: 100%;
  align-items: center;
}
.autologin{
  margin: 0 !important;
  width: 30px !important;
}
.user{
  &page{
    background: #f7f9fa;
    width: 100%;
    height: calc( 100vh - 70px );
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-main{
    border-radius: 5px;
    width: 95%;
    height: 90%;
    background: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  &-header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & ul{
      background: #28274c;
      width: 240px;
      padding: 0 30px;
      border-radius:0px 0px 80px 0px;
      display: flex;
      color: white;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      & li{
        transition: all ease 0.5s;
        cursor: pointer;
        &:hover{
          color: gold;
        }
      }
    }
    & .fa-cog{
      color: #28274c;
      margin-right: 15px;
      cursor: pointer;
      font-size: 20px;
      transition: all ease 1s;
      &:hover{
        transform: rotate( 300deg );
      }
    }
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align:middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: gold;
}

input:focus + .slider {
  box-shadow: 0 0 1px gold;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}